* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
    font-size: 12px;
    background-color: #ebebeb;
    margin-top:170px;
  }
  

  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 10px;
  }
  p.header, p.header i{
      font-size: 12px;
      margin-right: 5px;
  }
  
  
  div.top-Header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background-color: #eac926;
    width: 100%;
    height: 169px;
    position:fixed;
    top:0;
    z-index:100;
    font-size: 18px;
    
  }
  
  header div.logo {
    width: 50%;
    padding: 10px;
  }
  
  header div.form {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  header nav {
    font-size: 12px;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
  }
  
  header .form .input {
    background-color: #eee;
   
    border-radius: 5px ;
    width:fit-content;
    color: #666;
    padding: 2px;
    font-size: 12px;
  }
  
  header .form .submit {
    border-radius: 5px ;
    border:none;
    color: #666;
    width: 15%;
    text-align: center;
   margin-left: 2px;
    font-size: 17px;
    background-color: #eee;
  }
  header .form .submit i{
    margin-top: 50%;
  }
  
  .top-Header p {
    text-align: center;
  }
  
  div.burger-menu {
    text-align: center;
    padding: 10px;
    margin-top: -10px;
  }
  
  div.burger-menu i {
    border-radius: 5px;
    background-color: #03264c;
    color: white;
    padding: 8px 10px;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    width: 40px;
  }
  
  header nav ul {
    padding: 10px 0;
    margin: 10px 0;
  }
  
  
  
  .banner {
    text-align: center;
    width: 100%;
  }
  
  
  main {
    text-align: center;
  }
  

  .price {
    font-size: 14px;
    flex: 30%;
  }
  
  .discount {
    flex: 70%;
  }
  
  .discount,
  .description {
    font-size: 14px;
    font-weight: normal;
  }
  
  h3,
  .description {
    color: #666;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  main section article {
     background-color: #fff;
    margin: 10px 0px;
  }
  
  main section article img {
       width: 100%;
  }
  
  main section article i,
   .discount {
    color: #39b54a;
  }
  
  article div.main-article {
    width: 100%;
    border-top: 1px #ebebeb solid;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
  }
  
  .description {
    display: none;
    margin-top: 20px;
  }
  
  nav {
    display: none;
  }
  
    main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  
    main section article:hover i {
    transform: rotate(-90deg);
    transition-duration: 450ms;
  }
  
  footer {
    background-color: white;
    
    
  }
  footer.login {
    background-color: white;
     }
  
  .iconos-footer {
    text-align: center;
    color: #16034c;
    background-color: white;
    font-size: 30px;
    margin: 5px;
  }
  
  div.iconos-footer i {
    transition-duration: 650ms;
  }
  
  h4.subtitulo-footer {
    font-size: 11px;
    text-align: center;
    text-decoration: dotted;
    margin: 3px;
  }
  
  footer p {
    text-align: center;
    margin-block-end: 35px;
    margin-top: 5px;
    padding: 5px 65px;
  }
  
  footer h4 {
    text-align: center;
    font-size: 10px;
  }
  
  footer ul {
    padding: 10px 10px;
    margin-top: 35px;
  }
  
      body.register{
      margin-top: 200px;
  }
  
   h2{
    padding: 15px 0;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 361px;
    border: #000 1px solid;
    background-color: #3f51b5;
    color: #fff;
  }
  
  section.section-register {
  
    border: #000 1px solid;
    width: 361px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px 20px;
  }
  
  .control-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  div {
    margin-bottom: 15px;
    display: block;
  }
  
  h4 {
    padding-bottom: 4px;
    margin-bottom: 5px;
  }
  
  h4 input[type="checkbox"] {
    margin: 0 10px;
  }
  
  div button {
    padding: 3px;
    margin: 10px 0;
    width: 100%;
    background-color: #3f51b5;
    border-radius: 48px;
    color: #fff;
    transition-duration: 1050ms;
  }
  
  div button input {
    background-color: #3f51b5;
    color: #fff;
    width: 100%;
    border: none;
    transition-duration: 1050ms;
  }
  
  div button a {
    color: #fff;
    text-decoration: none;
  }
  
  div button input:visited {
    color: pink;
  }
  
  div button:hover,
  div button input:hover {
    background-color: green;
  }
  .formulario [type="text"],
  .formulario [type="date"],
  .formulario [type="password"],
  .formulario [type="email"],
  .lg-form [type="text"],
  .lg-form [type="password"] {
    width: 100%;
    border-radius: 4px;
    border: 0;
    height: 30px;
    padding: 4px;
  }
  
    input.login {
    display: block;
    margin: 15px 0;
    width: 100%;
    height: 25px;
  }
  
    button.enviar:hover {
    background-color: #0022AA;
  }
  
  div.iconos-footer i:hover {
    color: rgba(91, 128, 230, 0.397);
  }
  
  main section article:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
    }
  
  @media (min-width: 361px) and (max-width: 768px) {
    main section article {
      width: 45%;
    }
  
    p.price,
    p.discount {
      font-size: 12px;
      font-weight: normal;
    }
  
    main section article:hover .description {
      display: block;
    }
  
    nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
    div.burger-menu {
      display: none;
    }
  
    main section .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    div.top-Header {
      display: flex;
      flex-wrap: nowrap;
      padding: 5px;
      align-items: center;
      justify-content: space-between;
    }
  
    header div.logo {
      display: flex;
      max-width: 150px;
    }
  
    
  
    header div.form {
      display: flex;
      align-content: center;
      width: 20%;
      margin-right: 2vw;
      
      
    }

    header .form .input {
      background-color: #eee;
      border-radius: 5px ;
      width:fit-content;
      color: #666;
      margin-top: 3vw;
      font-size: 1.5vw;
      width: 20vw;
      height: 4vw;
      padding: 0.3vw;
      border: solid 1px black;
      
      
    }
    
    header .form .submit {
      border-radius: 5px ;
      border:none;
      color: #666;
      width: 3vw;
      height: 4vw;
      border: solid 1px black;
      margin-top: 3vw;
      margin-left: 0px;    
      font-size: 2vw;
      background-color: #eee;
      
    }
    header .form .submit i{
      
    }

  
    nav div.navbarLeft {
      display: flex;
      justify-content: space-between;
      width: 45%;
    }
  
    header nav ul.navbar-left {
      display: flex;
      justify-content: space-between;
      margin: 10px 5px 0 0;
    }
  
    ul.navbar-left a {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      font-size:  10px;
  
    }
  
    nav div.navbarRight {
      display: flex;
      justify-content: flex-end;
      width: 40%;
    }
  
    header nav ul.navbar-right {
      display: flex;
      justify-content: space-between;
      margin: 10px -5 0 5px;
      font-size: 10px;
      
    }
  
    ul.navbar-right li a {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      font-size: 10px;
    }
  
    ul.navbar-right li a i {
      padding: 0 3px;
    }
  }
  
  @media (min-width: 769px) {
    main section article:hover .description {
      display: block;
    }
  
    main section article {
      width: 22%;
    }
  
    div.logo img{
      width: 75%;
    }
  
    nav {
      display: flex;
      width: 90%;
      height: 40px;
      
    }
  
    header{
      height: 175px;
    }
  
    p.header{
      font-size: 16px;
    }
  
    div.burger-menu {
      display: none;
    }
  
    .products {
      display: flex;
      justify-content: space-around;
      flex: 22%;
    }
  
    div.top-Header {
      display: flex;
      flex-wrap: nowrap;
      margin: 10px 0 3px 5px;
      max-height: 100px;
      padding: 5px;
      align-items: center;
      justify-content: space-evenly;
    }
  
    header div.logo {
      width: 20%;
    }
    header div.logo img{
      width:20vw;
      padding: 10px;
      margin-top: 20px;
    }
  
    header div.form {
      display: flex;
      align-content: center;
      width: 20%;
      margin-right: 2vw;
      
      
    }

    header .form .input {
      background-color: #eee;
      border-radius: 5px ;
      width:fit-content;
      color: #666;
      margin-top: 3vw;
      font-size: 9px;
      width: 20vw;
      height: 2vw;
      padding: 0.3vw;
      border: solid 1px black;
      
      
    }
    
    header .form .submit {
      border-radius: 5px ;
      border:none;
      color: #666;
      width: 2vw;
      height: 2vw;
      border: solid 1px black;
      margin-top: 3vw;
      margin-left: 0px;    
      font-size: 1vw;
      background-color: #eee;
      
    }
    header .form .submit i{
      margin-top: 20%;
    }
   
  
    nav div.navbarLeft {
      display: flex;
      justify-content: space-around;
      width: 50%;
     
    }
  
    header nav ul.navbar-left {
      display: flex;
      justify-content: space-between;
      
      
    }
  
    ul.navbar-left a {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  
    nav div.navbarRight {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
  
    header nav ul.navbar-right {
      display: flex;
      justify-content: space-between;
    }
  
    ul.navbar-right li a {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  
    ul.navbar-right li a i {
      padding: 0 7px;
    }
  

  div.titulo{
    
      width: 640px;
      display: flex;
      justify-content: center;
      margin: 15px auto;
      
  }
  h2{
    width: 640px;
  }
  .control-formulario {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 17px;
  }
   input.control{
     font-size: 16px;
   }
   div.perfil{
     font-size: 22px;
     display: inline;
      }
   div.perfil h4 label{
    margin-bottom: 10px;
   }
  
   button.enviar, input.reset, div button input{
     font-size: 22px;
   }
  
    body.register {
      font-family: "Roboto";
      font-size: 16px;
      background-color: #ebebeb;
      margin-top: 280px;
  }
    section.section-register {
      border: #000 1px solid;
      width: 640px;
      display: flex;
      justify-content: center;
      margin: auto;
      padding: 30px 20px;
  }
    form.formulario{
      width:70%
  }
  
    form.login{
      width: 70%;
      
    }
    div.lg-form input{
      font-size: 22px;
    }
  
    section.blanc{
      height: 200px;
  
  
  }
  
   
    footer ul {
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
  
    footer ul div.ft-sector {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    h4.subtitulo-footer{
      font-size: 16px;
    }
  
    p.footer{
      font-size: 14px;
    }
    div.iconos-footer{
      font-size: 35px;
    }
  }
  